---
export interface Props {
  command: string;
  clickable?: boolean;
  href?: string;
}

const { command, clickable = false, href } = Astro.props;
---

<span class="prompt">$</span>{clickable && href ? (
  <a href={href} class="command clickable-command">{command}</a>
) : (
  <span class="command">{command}</span>
)}

<style>
  .prompt {
    margin-right: var(--prompt-spacing);
  }

  .command {
    font-family: var(--font-mono);
  }
</style>
